XML XSD/DDC_ESDEE_XSD_XML_041018/EnrollmentIssuerProcessingResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/SubmissionProcessingStatusType.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/ErrorMessageType.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/InsuredMemberProcessingResult.xsd"/>
    <xsd:element name="enrollmentIssuerProcessingResult" type="impl:EnrollmentIssuerProcessingResult"/>
	<xsd:complexType name="EnrollmentIssuerProcessingResult">
        <xsd:sequence>
			<xsd:element name="issuerRecordIdentifier" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
    				<xsd:restriction base="xsd:integer">
    					<xsd:minInclusive value="1"/>
    					<xsd:maxInclusive value="999999999"/>
    				</xsd:restriction>
    			</xsd:simpleType>	
			</xsd:element>
			<xsd:element name="issuerIdentifier" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="5"/>					 
					</xsd:restriction>
				</xsd:simpleType>	
			</xsd:element>
	        <xsd:element name="classifyingProcessingStatusType" type="vo:SubmissionProcessingStatusType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="recordedError" type="vo:ErrorMessageType" minOccurs="0" maxOccurs="unbounded"/>
	        <xsd:element name="includedInsuredMemberProcessingResult" type="vo:InsuredMemberProcessingResult" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
