XML XSD/DDC_SE_XSD_XML_041018/CommonSystemErrorHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	elementFormDefault="qualified">
    <xsd:element name="commonSystemErrorHeader" type="impl:CommonSystemErrorHeader"/>
	<xsd:complexType name="CommonSystemErrorHeader">
        <xsd:sequence>
            <xsd:element name="outboundFileIdentifier" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
            <xsd:element name="outboundFileGenerationDateTime" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="19"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
            <xsd:element name="edgeServerVersion" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="75"/>
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>
            <xsd:element name="outboundFileTypeCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>
            <xsd:element name="edgeServerIdentifier" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>			
            <xsd:element name="issuerID" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5"/>
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>
		</xsd:sequence>
    </xsd:complexType>	
</xsd:schema>
