XML XSD/DDC_SE_XSD_XML_041018/EdgeServerErrorStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/syserror/CommonSystemErrorHeader.xsd"/>
	<xsd:include schemaLocation="../../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/syserror/SystemErrorType.xsd"/>
    <xsd:element name="edgeServerErrorStatus" type="impl:EdgeServerErrorStatus"/>
	<xsd:complexType name="EdgeServerErrorStatus">
        <xsd:sequence>
	        <xsd:element name="commonSystemErrorHeader" type="vo:CommonSystemErrorHeader" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="systemErrorType" type="vo:SystemErrorType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>