XML XSD/DDC_ESFAR_XSD_XML_041018/FileProcessingResultStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/CommonOutboundFileHeader.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/SubmissionProcessingStatusType.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/ErrorMessageType.xsd"/>
    <xsd:element name="fileProcessingResultStatus" type="impl:FileProcessingResultStatus"/>
	<xsd:complexType name="FileProcessingResultStatus">
        <xsd:sequence>
	        <xsd:element name="includedFileHeader" type="vo:CommonOutboundFileHeader" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="classifyingProcessingStatusType" type="vo:SubmissionProcessingStatusType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="recordedError" type="vo:ErrorMessageType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
