XML XSD/DDC_RAUF_XSD_XML_041018/RaUserFeePlanCategory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:element name="includedPlanIdentifier" type="impl:RaUserFeePlanCategory"/>
	<xsd:complexType name="RaUserFeePlanCategory">
        <xsd:sequence>
        	<xsd:element name="planIdentifier" minOccurs="1" maxOccurs="1">
		        <xsd:simpleType>
			        <xsd:restriction base="xsd:string">
			        	<xsd:length value="16"/>
			        </xsd:restriction>
		        </xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="state" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                    	<xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="totalEnrollees" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="1"/>
                        <xsd:maxInclusive value="999999999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="totalBillableMemberMonths" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="totalRAUserFee" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                   <xsd:restriction base="xsd:decimal">
					<xsd:fractionDigits value="2"/>
                   </xsd:restriction>
               </xsd:simpleType>
             </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
