XML XSD/DDC_RAUF_XSD_XML_041018/RaUserFeeReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/RARICommonOutboundFileHeader.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/RaUserFeePlanCategory.xsd"/>
	<xsd:element name="raUserFeeReport" >
	<xsd:complexType>
        <xsd:sequence>
	        <xsd:element name="includedFileHeader" type="vo:RARICommonOutboundFileHeader" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="calendarYear" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="executionType" minOccurs="1" maxOccurs="1">
	        	<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="30" />
						<xsd:enumeration value="P" />
						<xsd:enumeration value="F" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="uniqueEnrollees" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                   <xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="999999999"/>
                   </xsd:restriction>
               </xsd:simpleType>
             </xsd:element>
            <xsd:element name="totalBillableMemberMonths" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
			<xsd:element name="totalRAUserFee" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                   <xsd:restriction base="xsd:decimal">
                   <xsd:fractionDigits value="2"/>
			       </xsd:restriction>
               </xsd:simpleType>
             </xsd:element>
	        <xsd:element name="includedPlanIdentifier" type="vo:RaUserFeePlanCategory" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
</xsd:schema>
