XML XSD/DDC_ESSSFE_XSD_XML_041018/SubmissionProcessingStatusType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	elementFormDefault="qualified">
    <xsd:element name="submissionProcessingStatusType" type="impl:SubmissionProcessingStatusType"/>
	<xsd:complexType name="SubmissionProcessingStatusType">
        <xsd:sequence>
			<xsd:element name="statusTypeCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>	
						<xsd:enumeration value="A"/>	
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="I"/>					 
					</xsd:restriction>
				</xsd:simpleType>	
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
