XML XSD/DDC_ESDMCE_XSD_XML_041018/ErrorMessageType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	elementFormDefault="qualified">
    <xsd:element name="errorMessageType" type="impl:ErrorMessageType"/>
	<xsd:complexType name="ErrorMessageType">
        <xsd:sequence>
			<xsd:element name="offendingElementName" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="100"/>		
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>
			<xsd:element name="offendingElementValue" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="80"/>		
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>
			<xsd:element name="offendingElementErrorTypeCode" minOccurs="1" maxOccurs="unbounded">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>		
			</xsd:element>
			<xsd:element name="offendingElementErrorTypeMessage" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>		
			</xsd:element>
			<xsd:element name="offendingElementErrorTypeDetail" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>	
			</xsd:element>			
		</xsd:sequence>
    </xsd:complexType>
</xsd:schema>
