XML XSD/DDC_ESDMCE_XSD_XML_041018/IssuerPlanMedicalClaimDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/CommonOutboundFileHeader.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/MedicalClaimIssuerProcessingResult.xsd"/>
    <xsd:element name="issuerPlanMedicalClaimDetail" type="impl:IssuerPlanMedicalClaimDetail"/>
	<xsd:complexType name="IssuerPlanMedicalClaimDetail">
        <xsd:sequence>
	        <xsd:element name="includedFileHeader" type="vo:CommonOutboundFileHeader" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="includedIssuerProcessingResult" type="vo:MedicalClaimIssuerProcessingResult" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
