XML XSD/DDC_ESDMCE_XSD_XML_041018/MedicalClaimProcessingResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.edge.fm.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.edge.fm.cms.hhs.gov" 
	xmlns:vo="http://vo.edge.fm.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/SubmissionProcessingStatusType.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/ErrorMessageType.xsd"/>
	<xsd:include schemaLocation="../../../../../../../xsd/gov/hhs/cms/fm/edge/vo/MedicalClaimServiceLineProcessingResult.xsd"/>
    <xsd:element name="medicalClaimProcessingResult" type="impl:MedicalClaimProcessingResult"/>
	<xsd:complexType name="MedicalClaimProcessingResult">
        <xsd:sequence>
			<xsd:element name="medicalClaimRecordIdentifier" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
    				<xsd:restriction base="xsd:integer">
    					<xsd:minInclusive value="1"/>
    					<xsd:maxInclusive value="999999999"/>
    				</xsd:restriction>
    			</xsd:simpleType>				
			</xsd:element>
			<xsd:element name="medicalClaimIdentifier" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>					 
					</xsd:restriction>
				</xsd:simpleType>	
			</xsd:element>
	        <xsd:element name="classifyingProcessingStatusType" type="vo:SubmissionProcessingStatusType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="recordedError" type="vo:ErrorMessageType" minOccurs="0" maxOccurs="unbounded"/>
	        <xsd:element name="includedClaimServiceLineProcessingResult" type="vo:MedicalClaimServiceLineProcessingResult" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
